*{
    /* added a standard font family */
    font-family: Helvetica, Arial, sans-serif;
}
.active {
    background-color: #CEF9F2; 
}
body {
    background-color: #655A7C;
}
@font-face {
    font-family: Roboto;
    src: url(../Roboto/sansation_light.ttff);
}
form {
    background-color: #AB92BF;
}
.flex-container {
    /* this flex container is where the bottom 3 images are stored and there is 15px in between image this image also starts flex start to stop a previous error*/
    align-items: center;
    
    display: flex;
    gap: 15px;
    justify-content:flex-start;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-top: 3px;
    width: 40%;
}
.flex-container + img {
    height: 25%;
}
footer{
    /*This footer component scrolls with you as you go up and down the page because it's fixed also there is a little curve to it */
    background-color: #AB92BF;
    border-radius: 3px;
    bottom: 0px;
    clear:both;
    height: 60px;
    margin: 0px;
    overflow:hidden;
    position: fixed;
    width: 100%;
}
.footer p {
    font-size: 100%;
}
h4 {
    text-align: center;
}
img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav ul {
    /*This is the other part of the navbar where there is no margin or padding to save space for the li element */
    background-color: #AB92BF;
    border-radius: 3px;
    list-style-type: none;
    margin: 0; 
    overflow: hidden;
    padding: 0;
}
nav ul li {
  /*This is the nav li element that is block where the text is centered and the text
  is floated to the left, with a background of darker purple*/
  color: #655A7C;
  display: block;
  float: left;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
}
nav ul li a:hover {
    background-color: #C5B985;
}
nav + h1{
    font-weight: bold;
    text-align: center;
    text-shadow: 1px;
}
p {
    font-family: Roboto;
    text-align: center;
}
table {
    border-spacing: 0px;
    
}
th, td {
    background-color: #CEF9F2;
    border:1px solid;
    
}
th {
    background-color: #BFE4DE;
}



