.body{
    background-color: rgb(65, 210, 250);
    color: rgb(176, 207, 241);
}
.Jou P {
    font-family:cursive;
    font-size: 10px;
    text-align: center;
    color: rgb(250, 244, 233);
    text-transform: uppercase;
    text-indent: -9px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-word;
    word-spacing: normal;
}
.Glogi {
    border: 1px solid;
    border-radius: 3px;
    margin-right: middle;
    padding-top: 4px;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}
a {
    color :black;
    text-decoration: none;
}
div + p{
      color :black;
}

article ~ div {
    padding-top: 10px;
}